<div>
  <ul>
    <li><a [routerLink]="['/']" [routerLinkActive]="['activated']" [routerLinkActiveOptions]="{exact: true}">HOME</a></li>
    <li><a [routerLink]="['/portfolio']" [routerLinkActive]="['activated']">PORTFOLIO PAI</a></li>
    <li><a [routerLink]="['/portfolio/1']" [routerLinkActive]="['activated']">PORTFOLIO FILHO</a></li>
    <li><a [routerLink]="['/portfolio/1?name=judenilson&token=12345']" [routerLinkActive]="['activated']">PORTFOLIO FILHO QUERY</a></li>
    <li><a [routerLink]="['/contact/1']" [routerLinkActive]="['activated']">CONTACT</a></li>
</ul>
</div>
