.card {
  border: 1px solid black;
  width: 250px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: #232323;
  color: #fff;
  border-radius: 10px;
}

.card__body {
  background-color: #616161;
  border-radius: 10px;
  width: 90%;
  height: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card__body > img {
  max-width: 100%;
  max-height: 100%;
}
.card__title {
  text-align: center;
  text-transform: uppercase;
}

.card__stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 7px;
}

.card__stats__type {
  background-color: rgb(212, 24, 24);
  margin: 15px;
  padding: 3px 8px;
  border-radius: 5px;
  text-transform: uppercase;
}
